<!DOCTYPE html>
<html>
  <head>
    <title>Desert</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    
  </head>
   <body>
       
       <%include templates/navbar.ejs%>
      
  <section class="container">
      <h1 class="text-center">Desert gallery:<h1>
    <div class="row">
      <figure class="col-sm-6">
        <p>Srubbery</p>
        <img src="https://hd.unsplash.com/photo-1453051499437-a5277c39bc17">
        </figure>
      <figure class="col-sm-6">
        <p>Cactus</p>
        <img src="https://hd.unsplash.com/photo-1463936575829-25148e1db1b8">
        </figure>
     </div>
    
    <div class='row'>
      <figure class="col-sm-6">
        <p>Sunset</p>
        <img src="https://hd.unsplash.com/photo-1414438071614-314f6b1fd4a8">
        </figure>
      <figure class="col-sm-6">
        <p>Desert Rose</p>
        <img src="http://www.hotel-r.net/im/hotel/middle-east/il/desert-rose-2.jpg">
        </figure>
      
    </div>
    </section>
   </body>
</html>