<!DOCTYPE html>
<html>
  <head>
    <title>BotanicArt</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    
  </head>
  <body>
    
    <% include templates/navbar.ejs%>
    
    
    
    
    
  
  <section class='jumbotron'>
    <div class="text-center ">
    <h2>BotanicArt image gallery</h2>
    </div>
  </section>
  </div>
  </body>
</html>
