<!DOCTYPE html>
<html>
  <head>
    <title>BotanicArt</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    
  </head>
  <body>
    
    <% include templates/navbar.ejs%>
    
    <section class="container">
    <h1 class='text-center'>Rainforest gallery:<h1>
    <div class="row">
      <figure class="col-sm-6">
        <p>Karma-Cameleon.</p>
        <img src="https://hd.unsplash.com/photo-1416139129787-60d8314c4708">
        </figure>
      <figure class="col-sm-6">
        <p>The Amazon.</p>
        <img src="http://cdn.pcwallart.com/images/amazon-rainforest-wallpaper-2.jpg">
        </figure>
     </div>
    
    <div class='row'>
      <figure class="col-sm-6">
        <p>River Lotus.</p>
        <img src="http://cdn.pcwallart.com/images/rainforest-plants-names-wallpaper-3.jpg">
        </figure>
      <figure class="col-sm-6">
        <p>Malayan Orchid.</p>
        <img src="http://whatcomflowers.net/wp-content/uploads/2015/05/Orchids-Tropical-Rainforest-Flowers.jpg">
        </figure>
      
    </div>
    </section>
    
    
    
  
  
  </body>
</html>
