<!DOCTYPE html>
<html>
  <head>
    <title>BotanicArt</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    
  </head>
  <body>
    
    <% include templates/navbar.ejs%>
    
    <section class="container">
    <h1 class="text-center">Tundra gallery:<h1>
    <div class="row">
      <figure class="col-sm-6">
        <p>Autumn Vegetation.</p>
        <img src="http://www.bstlhj6.com/data/out/202/5451169-tundra-wallpapers.png">
        </figure>
      <figure class="col-sm-6">
        <p>Spring Field.</p>
        <img src="http://sis.agr.gc.ca/cansis/taxa/landscape/veget/tundra_broken_nta.jpg">
        </figure>
     </div>
    
    <div class='row'>
      <figure class="col-sm-6">
        <p>In Bloom.</p>
         <img src="https://s-media-cache-ak0.pinimg.com/736x/75/9a/3c/759a3c22cd9f0b6df97cfab4672cde81.jpg">
       
        </figure>
      <figure class="col-sm-6">
        <p>Colorfull lichen.</p>
        <img src="http://3.bp.blogspot.com/-a1Li5x7C4YQ/TkkKQAzjB4I/AAAAAAAAHU4/s3MtIhlw-eY/s1600/fall%2Bon%2Bthe%2Btundra3.jpg">
        </figure>
      
    </div>
    </section>
    
    
    
  
 
  </body>
</html>